.root {
    -fx-font-family: 'Arial';
    -fx-base: #202020;
    -fx-background-color: #f0f0f0;
}

/* Estilo para o BorderPane principal para remover margens */
.root {
    -fx-padding: 100px;
}

/* Estilos para o botão de início */
.button.start-comb-button {
    -fx-background-color: #c28c2f; /* Cor laranja */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button.start-shell-button {
    -fx-background-color: #34942c; /* Cor azul */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button.start-shell02-button {
    -fx-background-color: #397633; /* Cor azul */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button.reset-button {
    -fx-background-color: #ff6f61; /* Cor vermelha */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


/* Adiciona estilos para os botões em geral, se ainda não houver */
.button {
    -fx-background-color: #336dcc;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button.highlight {
    -fx-background-color: #e0ad2b; /* ou qualquer cor que preferir */
}

.vbox {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.hbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.highlight-aux {
    /* Estilo para o botão que está sendo usado como 'aux' */
    -fx-border-color: blue;
    -fx-border-width: 2px;
}

.copy-highlight {
    /* Estilo para representar que um valor foi "copiado" para este botão */
    -fx-background-color: yellow;
}

.highlight-final {
    /* Estilo para o botão que recebe o valor final do 'aux' */
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.button-comparing {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.button-aux {
    -fx-border-color: green;
    -fx-border-width: 2px;
    -fx-border-style: dashed;
}

.button-copying {
    -fx-background-color: yellow;
}



